@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6f7f9;
}
html {
  scroll-behavior: smooth;
}
.logo {
  font-weight: 700;
}
.sideNavTxt {
  letter-spacing: 2px;
  text-transform: uppercase;
}

@media (max-width: 1023px) {
  /* Make the container stack items vertically */
  .relative {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  /* Adjust logo placement */
  .logo {
    text-align: center;
    margin-bottom: 16px;
  }

  /* Center the search bar */
  .searchbar {
    width: 100%;
    max-width: 90%; /* Add padding for smaller screens */
    margin-bottom: 16px;
  }

  /* Adjust profile image placement */
  .profile {
    margin-top: 16px;
  }
}

@media (max-width: 768px) {
  .secondImg {
    display: none;
  }
  .firstImg {
    width: auto;
  }
  .mainText {
    width: auto;
    margin-left: -20px;
  }
  .h1 {
    font-size: 20px;
  }
  .box1 {
    width: 50vh;
    row-gap: 10px;
    margin-top: 10px;
    justify-content: start;

    /* display: none; */
  }
  .box2 {
    width: 50vh;
    row-gap: 0px;
    margin-top: 20px;
    justify-content: start;
    margin-left: 10px;
    /* display: none; */
  }
}
.Pick{
  font-weight: 600;
  
}
/* ? */
/* .first{
  background-color: aqua;
}
.second{
  background-color: rgb(1, 71, 71);
}
.three{
  background-color: rgb(21, 0, 248);
}
.four{
  background-color: rgb(131, 203, 14);
}
.five{
  background-color: rgb(132, 28, 184);
}
.six{
  background-color: rgb(13, 145, 145);
}
.seven{
  background-color: rgb(224, 77, 207);
}
.eight{
  background-color: rgb(104, 203, 160);
}
.nine{
  background-color: rgb(206, 189, 109);
}
.ten{
  background-color: rgb(202, 113, 203);
}
.eleven{
  background-color: rgb(78, 193, 46);
}
.twelve{
  background-color: rgb(164, 219, 148);
}
.thirteen{
  background-color: rgb(5, 43, 38);
}
.fourteen{
  background-color: rgb(115, 238, 148);
}
.fivteen{
  background-color: rgb(57, 64, 210);
} */
@media (min-width:10px) {
  .first{
    width:100%;
    height: 100%;
  }
  .four{
    height:auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
  .second,.three{
    margin:0px;
    margin:30px 0 30px 0;
    padding: 20px;
    
  }
  .three{
    width: 550px;
    height: auto;
  }
  .second{
    height:900px ;
  }
 .seven{
  width: 100%;
  flex-wrap: nowrap;
 }

  .eight{
    position:sticky;
    top: 0;
  }
  .nine{
    width: 100%;
  }
  .six{
  display: flex;
  align-items: center;
  height: 50px;
  }
  .pera{
    width:  100%;
    margin-left: 30px;
  }
  .pera2{
    width: 80px;
  }
}
@media (max-width:570px){
 .second,.three{
  width: 90%;
 }
 .ten{
  width: 100%;
 }
 .fivteen{
  width: 40%;
 }
 .nine{
  margin-left: 2px;
 }
 
}
@media (max-width:435px) {
  .rounded-md{
    width: 90%;
  }
  .eleven{
    font-size: 15px;
  }
  .fourteen{
    font-size: 10px;
    margin-left: 5px;
  }
  .five{
    height: 200px;
  }
  .second{
    height: 750px;
  }
  .twelve{
    width: 100%;
  }
}